.landing {
  .bg {
    min-height: 100%;
    min-width: 100%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;

    background-image: url('/images/map.png') !important;

  }

  .title {
    width: 500px;
    margin-top: 80px;
    margin-left: 70px;
  }
}
