.login-wrapper {
  margin: 0 auto;
  max-width: 560px;
  width: 500px;

  .welcome {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  .login {
    form {
      margin-top: 30px;

      .actions {
        margin-top: 40px;
      }
    }
  }
}
